@tailwind base;
@tailwind components;
@tailwind utilities;


.scroll-bar-hide {
  scrollbar-width: none;  /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}

.scroll-bar-hide::-webkit-scrollbar {
  display: none;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.animation-6s {
  animation-duration: 6s;
}